.alert {
  position: absolute;
  top: 6rem;
  right: 1rem;
  display: flex;
  color: white;
  align-items: center;
  column-gap: 12px;
  padding-left: 10px;
}

.alert.success {
  background-color: #47cc6b;
}

.alert.error {
  background-color: #f23030;
}

.alert button {
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51.2px;
  transition: all 0.4s;
  cursor: pointer;
}

.alert.success button {
  background-color: #328f4b;
}

.alert.error button {
  background-color: #bd2626;
}

.alert.show {
  animation: showSlide 1s ease;
}

.alert.hide {
  display: none;
}

@keyframes showSlide {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-10%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-2px);
  }
}

.alert.success button:hover {
  background-color: #43a35d;
}

.alert.error button:hover {
  background-color: #db4040;
}
