.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 330px;
  box-shadow: 10px 10px 5px #d5e0f2;
  cursor: pointer;
  transition: box-shadow 0.4s;
  border-radius: 20px;
}

.projectCard img {
  width: 400px;
  height: 270px;
  border-radius: 0 0 20px 20px;
}

.projectCard:hover {
  box-shadow: 5px 5px 5px #d5e0f2;
}
