.projectCard {
  box-shadow: 10px 10px 5px #d5e0f2;
  transition: box-shadow 0.4s;
}

.projectCard img {
  width: 400px;
  height: 270px;
  border-radius: 0 0 20px 20px;
}

.projectCard:hover {
  box-shadow: 5px 5px 5px #d5e0f2;
}
