@tailwind base;
@tailwind components;
@tailwind utilities;

.mainBG::before {
  background-image: url("../assets/gamebg.jpg");
  content: "";
  background-repeat: repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.05;
  z-index: -10;
}
