/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/About.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.aboutSection {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 10rem;
  padding-top: 2rem;
  row-gap: 2rem;
}

.aboutSection img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: 100% 20%;
  border-radius: 10px;
}

.aboutSection p {
  text-align: center;
  padding: 10px 20vw;
  font-size: 20px;
}

